<div class="container-fluid border p-4 mt-5">

  <h4>Obrigado por se juntar a causa!! </h4>

  <form [formGroup]= "checkoutForm" (ngSubmit) ="registerUser()">
    <div class="mb-3 mt-5">
      <label for="inputEmail" class="form-label">Primeiro Nome</label>
      <input type="text" formControlName= "firstName" class="form-control" id="inputFirstName">
    </div>

    <div class="mb-3">
      <label for="inputLastName" class="form-label">Ultimo Nome</label>
      <input id="inputLastName" type="text" formControlName= "lastName" class="form-control" >
    </div>

    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" formControlName= "email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="inputPassword" class="form-label">Senha</label>
      <input type="password" formControlName= "password" class="form-control" id="inputPassword" placeholder="senha">
    </div>

    <button type="submit" class="btn btn-primary">Fazer Registro</button>
        
  </form>

  <div *ngIf="message" class="form-text">
    Test massage is: {{ message }}
  </div>
</div>