<div class="card">
    <div class="card-header">
        <h4>{{pageTitle}}</h4>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/images/adembo.jpg" class="img-responsive center-block rounded"
                    style="max-height:300px;padding-bottom:50px" height="150" loading="lazy" />
            </div>

            <div class="text-center">Developed by:</div>
            <div class="text-center">
                <h3>Antonio Dembo</h3>
            </div>

            <div class="text-center">@AntonioDembo3</div>
            <div class="text-center">
                <a href="https://github.com/antonio-dembo" target="_blank">https://github.com/antonio-dembo</a>
            </div>
        </div>
    </div>
</div>