<div class="card border-light mt-3">
    <h4 class="card-header"> {{ pageTitle }}</h4>
    <div class="card-body">
        <div class="row g-2 align-items-center">
            <div class="col-auto">
                <label for="inputFilter" class="col-form-label">Filter By</label>
            </div>
            <div class="col-auto">
                <input type="text" id="inputFilter" class="form-control">
            </div>
        </div>
        <div class="row" *NgIf="listFilter">
            <div class="col-md-6">
                <h4>Filtered by: {{ listFilter }}</h4>
            </div>
        </div>
        <div class="mt-5">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" id="myTab">
                <li [ngbNavItem]="1" role="presentation">
                    <a ngbNavLink>All Projects</a>
                    <ng-template ngbNavContent>
                        <p>
                            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua, retro synth
                            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                            butcher retro
                            keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
                            Aliquip placeat
                            salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                            qui.
                        </p>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="card mb-3 mt-3">
                                    <img src="assets/images/como-criar-ongs.png" class="card-image-top"
                                        height="250"
                                        alt="social-entreoneurship">
                                    <div class="card-body">
                                        <h5 class="card-title">Card Title</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                                            adipiscing elit, sed do
                                            eiusmod tempor incididunt.</p>
                                        <p class="card-text"><small>updated 3 mins ago.</small></p>

                                        <button id="participateBtn" class="btn btn-primary btn-sm"
                                            (click)="participateToProject()">
                                            Participate
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem="2">
                    <a ngbNavLink>My Projects</a>
                    <ng-template ngbNavContent>
                        <p>
                            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                            four loko
                            farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk
                            aliquip jean shorts
                            ullamco ad vinyl cillum PBR.
                        </p>
                    </ng-template>

                </li>
                <li ngbNavItem [disabled]="true">
                    <a ngbNavLink>I'm disabled</a>
                    <ng-template ngbNavContent>
                        <p>
                            Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id
                            diam. Nulla facilisi.
                            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                            eu, congue et odio.
                            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
                            et. Sed diam urna,
                            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
                            faucibus nisl enim, nec
                            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius
                            natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                            ultricies in eget
                            neque. Phasellus nec tortor vel tellus pulvinar feugiat.
                        </p>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>

            <pre>Active: {{ active }}</pre>

        </div>
    </div>
</div>